h1 {
    background: red;
    text-align: center;
}
h2 {
    background: blue;
}
p {
    background: blueviolet;
}
ul {
    padding-left: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.fon {
    background: greenyellow;
}
#color {
    background: peru;
}
#color2 {
    background: darkseagreen;
}
body            
{
    margin:left;
    width:1024px;
    padding:10px;
    background-color:#bea5a5;
    font-size:14px;
    font-family:Verdana;
}
