*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.background-img{
    background-image: url("background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 350px;
    width: 250px;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* position: relative - указывает на родительский элемент, все будет в пределах этого бокса */

.counter{
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    color: #FF7171;
    position: absolute;
    top: -4px;
}

.result{
    background-color: transparent;
    /*border: 5px solid black;*/
    width: 100vh;
    height: 180px;
    position: absolute;
    top: 50px;
    line-height: 160px;
    text-align: center;
    font-size: 150px;
    color: #DED82E;
    font-family: cursive;
}

.up{
    position: absolute;
    bottom: 20px;
}

.plus{
    background-color: transparent;
    border: 1px solid #DED82E;
    width: 150px;
    height: 40px;
    border-radius: 10%;
    font-family: cursive;
    font-size: large;
    font-weight: bold;
    color: #FF7171;
    text-align: center;
    cursor: pointer;
}

.down{
    position: absolute;
    bottom: 70px;
}

.minus{
    background-color: transparent;
    border: 1px solid #DED82E;
    width: 150px;
    height: 40px;
    border-radius: 10%;
    font-family: cursive;
    font-size: large;
    font-weight: bold;
    color: #FF7171;
    text-align: center;
    cursor: pointer;
}