*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BEA9A2;
}
*/

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BEA9A2;
}

.container2 {
    height: 800px;
    width: 800px;
    background-color: #F4D8D5;
}

button {
    margin-top: 100px;
    margin-left: 300px;
    background-color: #19C7CE;
    padding: 15px 30px;
    border: 3px solid #7895EA;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.container3 {
    background-color: yellow;
    margin-top: 10px;
    margin-left: 100px;
    height: 60%;
    width: 75%;
    word-break: break-word;
    overflow: auto;
    color: #7E706F;
    font-size: 30px;
    text-emphasis: none;
    padding: 70px;
    display: flex;
    font-stretch: normal;
    
}

.coma {
    float: left;
    width: 70px;
    height: 70px;
}


.expressionsPlace {
    font-size: 30px;
    background-color: transparent;
    color: rgb(68, 54, 54);
    margin-top: 30px;
    text-align: right;
    float: left;
}
